@charset "utf-8";
/* CSS Document */
/* ################# Main Grid Elements ################# */
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

header, container, footer {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    width: 100%;
}
container {
    padding-bottom: 2em;
    background-color: #008382;
}
header{
    grid-template-areas:
            ". logo logo nav-bar nav-bar nav-bar nav-bar .";
    background-color: #000;
    position: fixed;
    width: 100%;
    box-shadow: 0px 1px 20px 1px #000;
    z-index: 1000;
    margin-top: -6em;
    height: 6em;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    background-color: #262264;
    color: #bdd640;
    text-align: center;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 3em;
    grid-column: 1/9;
    font-weight: 400;
    padding: .5em 0 .5em 0;
}
footer {
    width: 100%;
}
.footer-bg {
    width: 100%;
}
.footer img {
    width: 100%;
}
nav ul {
    float: right;
    padding: 0;

}
nav li {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 1.1em;
    font-weight: 700;
    float: left;
    list-style: none;
    padding-left: 1em;
    padding-right: 1em;
    color: #fff;
    border-left: #32ab49 solid .08em;
    text-align: center;
    height: 1.5em;

}
nav li:first-child {
border-left: 0;
}
nav li a:link {
    color: #bdd640;
    text-decoration: none;
    transition: color 0.3s ease;
}
nav li a:active {
    color: #bdd640;
    text-decoration: none;
}
nav li a:visited {
    color: #bdd640;
    text-decoration: none;
}
nav li a:hover {
    color: #32ab49;
    text-decoration: none;
}
nav li input {
    height: 2.3em;
    width: 12em;
}
h2 {
    font-weight: 300;
    font-size: 2em;
}
h3  {
    font-size: 2em;
}
.mobile-menu-title {
    font-weight: 300;
    font-size: 2em;
    color: #2f5d48;
    background-color: #1e362b;
    margin-top: .5em;
    margin-bottom: 0;
}
.logo {
    background-color: #000;
    grid-area: logo;
    margin-top: 1em;
    margin-bottom: 1em;
    z-index: 100;
}
.nav-bar {
    background-color: #000;
    /*	grid-column: 4/6;*/
    grid-area: nav-bar;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: .2em;
    z-index: 100;
}
nav .hamburger{
    display: none;
}
.profile-pic-wrap {
    width: 45%;
    float: left;
    margin-top: 3em;
    margin-bottom: 3em;
}
.profile-pic {
    width: 15em;
    height: 15em;
    border-radius: 8em;
    overflow: hidden;
    float: right;
}
.profile-pic img {
    width: 100%;
}
.profile-info {
    width: 55%;
    float: left;
    margin-top: 5em;
    box-sizing: border-box;
    padding-left: 2em;
}
.profile-info p {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 2em;
    font-weight: 700;
    color: #bdd640;
}
.profile-subheader {
    font-family: "Montserrat Alternates", sans-serif;
    text-align: center;
    color: #bdd640;
}
.profile-ad-wrap {
    background-color: #fff;
    width: 90%;
    margin: 2em auto 2em auto;
    border-radius: 2em;
    border: black solid .1em;
    box-sizing: border-box;
    height: 18em;
}
.profile-ad-picture {
    width: 12%;
    padding-top: 2em;
    padding-left: 2em;
    box-sizing: border-box;
    float: left;
}
.profile-ad-picture img {
    width: 100%;
}
.profile-ad-info {
    width: 88%;
    float: left;
    padding-left: 2em;
    padding-right: 2em;
    box-sizing: border-box;
}
.profile-ad-info h2 {
    font-family: "Montserrat Alternates", sans-serif;
    color: #f47721;
    font-weight: 700;
}
.profile-ad-info form {
    float: left;
    margin-right: 1em;
}
.profile-ad-info input {
    font-size: 1.2em;
    color: #fff;
    background-color: #262264;
    border-radius: .5em;
}
.profile-ad-paragraph {
    color: #000;
}
.line {
    width: 80%;
    height: .07em;
    background-color: #32ab49;
    margin-right: auto;
    margin-left: auto;
    clear: both;
}
.ad-module {
    grid-column: 1/9;
    background-color: #008382;
}
.clear-grid {
    grid-column: 1/9;
    background-color: #008382;
}
.ad-wrap {
    width: 31%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 2em;
    border: black solid .1em;
    border-radius: 1em;
    box-sizing: border-box;
    float: left;
    padding: 1em;
    height: 23em;
    background-color: #fff;
}
.ad-wrap h2 {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: #f47721;
    width: 100%;
    margin-top: 0;
    text-align: center;
}
.ad-picture {
    width: 7em;
    height: 7em;
    margin-right: auto;
    margin-left: auto;
    border: #f47721 solid .1em;
    box-sizing: border-box;
}
.ad-picture img {
    width: 100%;
}
.ad-paragraph {
width: 95%;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    /* hide text if it more than N lines  */
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    max-height: 2.4em;
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
    padding-top: .5em;
    font-size: 1.2em;
    color: #000;
}
.ad-paragraph:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 0;
}
.ad-paragraph:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    width: 1em;
    /* set width and height */
    height: 1em;
    margin-top: 0.2em;
    background: white;
}
.ad-show-wrap {
    width: 70%;
    margin: 2em auto 1% auto;
    border: black solid .1em;
    border-radius: 1em;
    box-sizing: border-box;
    padding: 1em;
    height: 20em;
    background-color: #fff;
}
.ad-show-pic-wrap {
    width: 40%;
    float: left;
    margin: 5%;
}
.ad-show-pic {
    width: 15em;
    height: 15em;
    border-radius: 8em;
    overflow: hidden;
}
.ad-show-pic img {
    width: 100%;
}
.description-wrap {
    width: 55%;
    margin-left: 40%;
    margin-top: 8%;
}
.description-wrap p{

}
.read-more {
    color: #f47721;
}
.read-more a{
    color: #f47721;
}
.read-more a:link{
    color: #f47721;
}
.read-more a:hover{
    color: #bdd640;
}
.read-more a:active{
    color: #f47721;
}
.read-more a:visited{
    color: #f47721;
}
.big-form-wrap {
    width: 100%;
}
.big-form-wrap label{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 3em;
    color: #fff;
    font-family: "Montserrat Alternates", sans-serif;
    float: none;
}
.big-form-wrap input {
    width: 80%;
    height: 2em;
    font-size: 1.2em;
    margin: 0 10% 1em 10%;
    float: none;
    border-radius: 2em;
    padding-left: 1em;
}
.big-form-wrap-button {
    background-color: #262264;
    color: #bdd640;
    font-family: "Montserrat Alternates", sans-serif;
}
.big-form-wrap textarea {
    width: 80%;
    height: 4em;
    font-size: 1.2em;
    margin: 0 10% 1em 10%;
    float: none;
    border-radius: 2em;
    padding-left: 1em;
}
.alert {
    width: 80%;
    color: red;
    padding: .8em 0 .8em 0;
    margin-bottom: 1em;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: pink;
    font-size: 1.1em;
    border-radius: 2em;
}
/* ################# Banner Elements ################# */
.banner {
    grid-column: 1/9;
    margin-top: 0;
    background-image: url("/images/banner-bg.jpg");
    background-size: cover;
    height: 50em;
    z-index: -1;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
    from { transform: translateY(100%); }
    to   { transform: translateY(0); }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
    from { transform: translateY(100%); }
    to   { transform: translateY(0); }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
    from { transform: translateY(100%); }
    to   { transform: translateY(0); }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
    from { transform: translateY(100%); }
    to   { transform: translateY(0); }
}
.banner-name-wrap {
    width: 100%;
    overflow: hidden;
    margin-bottom: 2em;
}
@keyframes name-fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
    from { opacity: 0; }
    to   { opacity: 1; }
    from { transform: translatex(-100%) rotateX(0deg); }
    to   { transform: translatex(0) rotateX(720deg); }
}
@-webkit-keyframes name-fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
    from { opacity: 0; }
    to   { opacity: 1; }
    from { transform: translateY(-100%); }
    to   { transform: translateY(0); }
}
@-moz-keyframes name-fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
    from { opacity: 0; }
    to   { opacity: 1; }
    from { transform: translateY(-100%); }
    to   { transform: translateY(0); }
}
@-o-keyframes name-fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
    from { opacity: 0; }
    to   { opacity: 1; }
    from { transform: translatex(-100%) rotateX(0deg); }
    to   { transform: translatex(0) rotateX(360deg); }
}
.banner-name {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 7vw;
    font-style: italic;
    font-weight: 700;
    color: #008382;
    text-align: right;
    width: 80%;
    padding-right: 20%;
    animation: name-fadein 1.7s;
    opacity: 0;
    animation-fill-mode: forwards;
    text-shadow: 0px 0px 40px #fff;
}
.banner-name3 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 7vw;
    font-style: italic;
    font-weight: 700;
    color: #286eb7;
    text-align: center;
    width: 100%;
    animation: name-fadein 1.7s;
    animation-delay: 1.5s;

    opacity: 0;
    animation-fill-mode: forwards;
    text-shadow: 0px 0px 40px #fff;
}
@keyframes name-fadein-right {
    0% { opacity: 0; }
    100% { opacity: 1; }
    from { opacity: 0; }
    to   { opacity: 1; }
    from { transform: translatex(100%) rotateX(0deg); }
    to   { transform: translatex(0) rotateX(720deg); }
}
.banner-name2 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 7vw;
    font-weight: 700;
    font-style: italic;
    color: #f47721;
    text-align: left;
    width: 80%;
    padding-left: 20%;
    animation: name-fadein-right 1.7s;
    animation-delay: .5s;
    opacity: 0;
    animation-fill-mode: forwards;
    text-shadow: 0px 0px 40px #fff;
}
/* ################# Footer Elements ################# */

.follow-me {
    grid-column: 2/6;
    color: #dcb352;
    padding-top: 1em;
}
.social-wrap {
    width: 100%;
    margin-bottom: 1em;
}
.social-icon {
    width: 4em;
    height: 4em;
    float: left;
    margin-right: .5em;
    margin-bottom: 3em;
    box-sizing: border-box;
    background-color: #2b5d46;
    cursor: pointer;
    border-radius: 3em;
    text-align: center;
    vertical-align: middle;
    align-content: center;
    transition: background .3s ease-in, transform .3s ease-in;

}
.social-icon:hover {
    transform: rotate(360deg);
    background-color: #dcb352;
}
.social-icon img {
    width: 75%;
    padding-top: 1em;
}
.contact {
    color: #dcb352;
    grid-column: 6/8;
    padding-top: 1em;
}
.contact a:link{
    color: #dcb352;
    text-decoration: none;
}
.contact a:hover{
    color: #a0792b;
    text-decoration: none;
}
.contact a:visited{
    color: #dcb352;
    text-decoration: none;
}
.contact a:active{
    color: #dcb352;
    text-decoration: none;
}
.copyright {
    background-color: #183327;
    text-align: left;
    padding-left: 12.5%;
    color: #dcb352;
    padding-top: 2em;
    padding-bottom: 2em;
}
.copyright a:link {
    color: #a0792b;
    text-decoration: none;
}
.copyright a:hover {
    color: #dcb352;
    text-decoration: none;
}
.copyright a:visited {
    color: #a0792b;
    text-decoration: none;
}
.copyright a:active {
    color: #a0792b;
    text-decoration: none;
}
.search{
    width: 100%;
    height: 5em;
    margin-top: 6em;
    background-color: #008382;
}
.search input {
    border-radius: 1em;
    height: 1.8em;
    width: 80%;
    padding-left: 1em;
    margin-left: 10%;
    margin-top: .4em;
    font-size: 2em;
    font-family: 'Montserrat Alternates', sans-serif;
}
/* ################# Reponsive break points ################# */
@media only screen and (max-width: 1200px) {
    nav li {
        font-size: .9em;
    }
    .banner-title-wrap {
        margin-top: 3em;
    }
    .banner {
        margin-top: -3em;
    }
    .ad-wrap h2 {
        font-size: 1.5em;
    }
    .profile-ad-picture {
        width: 20%;
    }
    .profile-ad-info {
        width: 80%;
    }
}
@media only screen and (max-width: 1000px) {

    .nav-pad {
        padding-right: 2em;
    }
    .icons {
        grid-column: 1/9;
        padding-left: 1em;
        padding-right: 1em;
        grid-gap: 0;
    }
    .project-main-image{
        grid-column: 2/8;
    }
    .project-main-image2{
        grid-column: 2/8;
    }
    header{
        grid-template-areas:
                "logo logo logo logo nav-bar nav-bar nav-bar nav-bar";
    }
    .logo {
        padding-left: 2em;
    }
    .follow-me {
        grid-column: 1/6;
        padding-left: 1em;
    }
    .contact {
        grid-column: 6/9;
        padding-right: 1em;
    }
    h2 {
        font-size: 1.5em;
    }
    .banner-title-wrap {
        margin-top: 3em;
    }
    .main-icon-wrapper {
        grid-column: 2/8;
    }
    .web-left-wrap {
        grid-column: 2/7;
    }
    .web-right-wrap {
        grid-column: 7/12;
    }
    .inner-container-grid {
        grid-gap: 1em;
    }
    .project-main-image{
        grid-column: 2/8;
    }
    .project-main-image2{
        grid-column: 2/8;
    }
    nav li {
        font-size: .8em;
    }
    header{
        margin-top: -6em;
        height: 6em;
    }
    .ad-wrap {
        width: 46%;
        margin-left: 2%;
        margin-right: 2%;
    }
}
@media only screen and (max-width: 907px) {
    nav li {
        font-size: .8em;
    }
    .banner-title-wrap {
        margin-top: 3em;
    }
    .web-left-wrap {
        grid-column: 2/7;
    }
    .web-right-wrap {
        grid-column: 7/12;
    }
    .inner-container-grid {
        grid-gap: 1em;
    }
    .project-main-image{
        grid-column: 2/8;
    }
    .project-main-image2{
        grid-column: 2/8;
    }
    h1 {
        font-size: 2em;
        margin-top: 0;
    }
    header{
        margin-top: -6em;
        height: 6em;
    }
    .ad-wrap {
        width: 46%;
        margin-left: 2%;
        margin-right: 2%;
    }
    .profile-info p {
        font-size: 1.15em;
    }
}
@media only screen and (max-width: 800px) {
    nav .hamburger{
        float: right;
        padding-right: 2em;
        padding-top: .5em;
        display: block;
    }
    .menu-bar {
        display: none;
    }
    .banner-title-wrap {
        margin-top: 2em;
    }
    .web-left-wrap {
        grid-column: 2/12;
        margin-bottom: 2em;
    }
    .web-right-wrap {
        grid-column: 2/12;
        margin-bottom: 2em;
    }
    .inner-container-grid {
        grid-gap: 0;
    }
    .project-main-image{
        grid-column: 2/8;
    }
    .project-main-image2{
        grid-column: 2/8;
    }
    .banner{
        margin-top: -2em;
    }
    .ad-wrap {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .profile-ad-picture {
        width: 1px;
        height: 1px;
        float: none;
        display: none;
    }
    .profile-ad-info {
        width: 100%;
        float: none;
    }
    .profile-ad-wrap {
       height: auto;
        padding-bottom: 3em;
    }
    .profile-pic-wrap {
        width: 100%;
        float: none;
        margin-top: 1em;
        margin-bottom: 1em;
        height: 10em;
        padding-left: 37%;
        box-sizing: border-box;
    }
    .profile-pic {
        width: 10em;
        height: 10em;
        border-radius: 5em;
        overflow: hidden;
        float: none;
        text-align: center;
    }
    .profile-pic img {
        width: 100%;
        text-align: center;
    }
    .profile-info {
        width: 100%;
        float: none;
        margin-top: 1em;
        box-sizing: border-box;
        padding-left: 0;
        text-align: center;
    }
    .profile-info p {
        font-family: "Montserrat Alternates", sans-serif;
        font-size: 1.2em;
        font-weight: 700;
        color: #bdd640;
    }
}
@media only screen and (max-width: 600px) {
    header{
        grid-template-areas:
                "logo logo logo logo logo nav-bar nav-bar nav-bar";
    }
    nav .hamburger{
        float: right;
        padding-right: .5em;
        padding-top: .2em;
        display: block;
    }
    .logo {
        padding-left: .5em;
        padding-top: .2em;
        margin-top: .9em;
        margin-bottom: 1em;
    }
    .logo img {
        width: 12em;
    }
    .icons {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column: 1/9;
        grid-gap: 1em;
    }
    .slider {
        margin-top: 5em;
    }
    .icon-title {
        font-size: 8vw;
        margin-bottom: 1em;
    }
    .follow-me {
        grid-column: 1/9;
        padding-left: 2em;
    }
    .contact {
        grid-column: 1/9;
        padding-left: 2em;
        margin-bottom: 2em;
    }
    .copyright {
        padding-left: 2em;
    }
    .banner-title-wrap {
        margin-top: 1.5em;
    }
    .web-left-wrap {
        grid-column: 2/12;
        margin-bottom: 2em;
    }
    .web-right-wrap {
        grid-column: 2/12;
        margin-bottom: 2em;
    }
    .inner-container-grid {
        grid-gap: 0;
    }
    .project-main-image{
        grid-column: 2/8;
    }
    .project-main-image2{
        grid-column: 2/8;
    }
}

/* ################# MOBILE MENU ################# */

#menuToggle {
    display: block;
    position: relative;
    top: 10px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}
#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}
#menuToggle span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #999;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}
#menuToggle span:first-child {
    transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #fff;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}
#menu{
    position: absolute;
    width: 400px;
    margin: -100px 0 0 80px;
    padding-top: 8em;
    background: #32ab49;
    list-style-type: none;
    box-shadow: 0px 1px 20px 1px #000;
    border-radius: 1em;
    -webkit-font-smoothing: antialiased;
    transform: none;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li{
    padding: 1.8em 0 1.8em 0;
    font-size: 1.5em;
    font-weight: 700;
    float: none;
    list-style: none;
    text-decoration: none !important;
    color: #bdd640;
    background-color: #262264;
    margin-bottom: .25em;
}
#menu li a{
    text-decoration: none !important;
    color: #bdd640;
}
#menu li a:link{
    text-decoration: none !important;
    color: #bdd640;
}
#menu li a:hover{
    text-decoration: none !important;
    color: #32ab49;
}
#menu li a:visited{
    text-decoration: none !important;
    color: #bdd640;
}
#menu li a:active{
    text-decoration: none !important;
    color: #bdd640;
}
#menuToggle input:checked ~ ul
{
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
}